<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <section layout:fragment="content-home" class="homeJ">
        <header>
            <div class="logoHeader">
                <h1>My</h1>
                <h1>Favorite</h1>
                <h1>Sports</h1>
            </div>
            <div class='content'>
                <div class='visible'>
                    <ul>
                        <li>Futbol</li>
                        <li>Formula I</li>
                        <li>World Padel Series</li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="nav-sports">
            <nav>
                <h3>Favoritos</h3>
                <ul>
                    <a href=""><i class="fa-solid fa-futbol"></i><li class="active">Futbol</li></a>
                    <a href=""><i class="fa-solid fa-gauge-high"></i><li>Formula I</li></a>
                    <a href=""><i class="fa-solid fa-table-tennis-paddle-ball"></i><li>World Padel Tour</li></a>
                </ul>
            </nav>
        </div>
    </section>
</body>
</html>