<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{pages/home}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Noticias Futbol</title>
</head>
<body>
    <section layout:fragment="content-newFutbol" class="futbolNoticias">

        <div class="noticia-futbol laliga">
            <div class="tituNoticia"><h2>LaLiga EA Sports</h2></div>
            <div>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/cec164f5-eb7b-4b09-aebc-9e104d6cf89e.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/438cc0e1-ba76-49ec-8ba0-4906f96f2526.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>

            </div>

        </div>
        <div class="noticia-futbol premier">
            <div class="tituNoticia"><h2>Premier Ligue</h2></div>
            <div>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>

            </div>

        </div>
        <div class="noticia-futbol bundeliga">
            <div class="tituNoticia"><h2>Bundesliga</h2></div>
            <div>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>

            </div>
        </div>
        <div class="noticia-futbol serieA">
            <div class="tituNoticia"><h2>Serie A</h2></div>
            <div>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>

            </div>
        </div>
        <div class="noticia-futbol ligue1">
            <div class="tituNoticia"><h2>Ligue 1</h2></div>
            <div>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>

            </div>
        </div>


    </section>
</body>
</html>