<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{pages/home}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Noticias Formula 1</title>
</head>
<body>


    <section layout:fragment="content-newFormula">

        <div class="noticia-futbol-laliga">
            <div><h2>LaLiga EA Sports</h2></div>
            <div>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>

            </div>

        </div>
        <div class="noticia-futbol-premier">
            <div><h2>Premier Ligue</h2></div>
            <div>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>

            </div>

        </div>
        <div class="noticia-futbol-bundeliga">
            <div><h2>Bundesliga</h2></div>
            <div>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>

            </div>
        </div>
        <div class="noticia-futbol-serieA">
            <div><h2>Serie A</h2></div>
            <div>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>

            </div>
        </div>
        <div class="noticia-futbol-ligue1">
            <div><h2>Ligue 1</h2></div>
            <div>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>
                <article>
                    <img src="https://livesport-ott-images.ssl.cdn.cra.cz/r900xfq60/4b94cd88-db1e-46fc-9aef-3bf6f685b5ef.avif">
                    <div>
                        <p>Gundogan: "No vine aquí para perder este tipo de partidos"</p>
                    </div>
                </article>

            </div>
        </div>

    </section>
</body>
</html>