<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{pages/home}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Noticias World Padel Tour</title>
</head>
<body>
    <section layout:fragment="content-newPadel">
        <div class="noticia-futbol-laliga">

        </div>
        <div class="noticia-futbol-premier">

        </div>
        <div class="noticia-futbol-bundeliga">

        </div>
        <div class="noticia-futbol-serieA">

        </div>
        <div class="noticia-futbol-ligue1">

        </div>

    </section>
</body>
</html>