<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
<section layout:fragment="content-session">
    <div class="cuadroformu">
    <form action="#" th:action="@{/processForm}" th:object="${user}" method="post" class="formulario">
            <div class="w-50 mb-3">
                <input type="text" th:field="*{email}" placeholder="Email" class="form-control"/>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
            </div>
            <div class="w-50 mb-3">
                <input type="password" th:field="*{password}" placeholder="Password" class="form-control"/>
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary mb-3 btn-form">Inicio</button>
            </div>
    </form>
    <div class="enlaceSR">
         <div>
             <a href="/session">Inicia Sesion</a>
         </div>
         <div>
             <a href="/registro">Registrase</a>
         </div>
    </div>

    </div>
</section>

</body>
</html>