*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
@font-face {
     font-family: 'SportFont';
     src: url('../fonts/Sportypo-Reguler-Demo.ttf') format('truetype');
     font-style: normal;
     font-weight: normal;
}
/*------ FORMULARIO REGISTRO-----*/
#jas-form{
     top: 100%;
     left: -73px;
     right: 0px;
     margin-top: var(--bs-dropdown-spacer);
}
.cuadroformu{
     margin: 10px auto;
     width: 50vw;
     height: 23rem;
     border: 1px solid grey;
     background: rgb(2,0,36);
     background: linear-gradient(180deg, rgba(2,0,36,1) 18%, rgba(0,0,0,1) 54%, rgba(255,0,0,0.9346332282913166) 98%);
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-content: center;

}
.formulario{
     width: 90%;
     height: 80%;
     background-color: rgba(0, 0, 0, 0.082);
     padding: 2rem;
     display: flex;
     flex-direction: column;
     align-items: center;

}
.btn-form{
      background-color: black;
      border: none;
}
.btn-form:hover{
      background-color: darkgray;

      border: none;
}
.enlaceSR{
     width: 90%;
     height: 10%;
     background-color: aqua;
     display: flex;
}
.enlaceSR div{
     width: 50%;
     height: 100%;
     background-color: black;
     display: flex;
     justify-content: center;
}
.enlaceSR div a{
     text-decoration: none;
     color: white;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.enlaceSR div a:hover{
     background-color: darkgray;
}
/*------------HOME-------------*/
.nav-sports{
    width:100%;
    height:4rem;
    border:1px solid black;
    display:flex;
    justify-content:center;
}
.nav-sports nav{
    width:80%;
    border:1px solid red;
    display:flex;

}
.nav-sports nav h3{
    width:25%;
    height:100%;
}
.nav-sports nav ul{
    width:75%;
    display:flex;
    list-style:none;
    border: 1px solid green;
    height:100%;
}
.nav-sports nav ul a{
    width: 33.33333333%;
    border: 1px solid black;
    text-decoration:none;
    display:flex;
    align-items:center;
    justify-content: center;
}
.nav-sports nav ul a i{
    width:10%;
}

/*------------SPORTS-------------*/
.content {
    width:175px;
    font-size:36px;
    line-height:40px;
    font-family:'Muli';
    color:#ecf0f1;
    height:40px;
    position:absolute;
    top:50%;
    left:65%;
    margin-top:-15px;
    margin-left:-145px;

    &:before {
        content:'[';
        position:absolute;
        left:22px;
        line-height:40px;
    }
    &:after {
        content:']';
        position:absolute;
        right:-196px;
        line-height:40px;
    }
    &:after, &:before {
        color:#16a085;
        font-size:42px;
        animation:2s linear 0s normal none infinite opacity;
        -webkit-animation:2s ease-out 0s normal none infinite opacity;
        -moz-animation:2s ease-out 0s normal none infinite opacity;
        -o-animation:2s ease-out 0s normal none infinite opacity;
    }
}

.visible {
    float:left;
    font-weight:600;
    overflow:hidden;
    height:40px;
}
.visible ul {
    margin-top:0;
    text-align:left;
    list-style:none;
    animation:6s linear 0s normal none infinite change;
    -webkit-animation:6s linear 0s normal none infinite change;
    -moz-animation:6s linear 0s normal none infinite change;
    -o-animation:6s linear 0s normal none infinite change;
}

.visible ul li {
    line-height:40px;
    margin:0;
    width: 21rem;
    display: flex;
    justify-content: center;
    font-family: 'SportFont';
    font-size: 1.3rem;

}

@-webkit-keyframes opacity {
    0%   {opacity:0;}
    50%  {opacity:1;}
    100% {opacity:0;}
}
@keyframes opacity {
    0%   {opacity:0;}
    50%  {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes change {
    0%   {margin-top:0;}
    15%  {margin-top:0;}
    25%  {margin-top:-40px;}
    40%  {margin-top:-40px;}
    50%  {margin-top:-80px;}
    65%  {margin-top:-80px;}
    75%  {margin-top:-40px;}
    85%  {margin-top:-40px;}
    100% {margin-top:0;}
}
@keyframes change {
    0%   {margin-top:0;}
    15%  {margin-top:0;}
    25%  {margin-top:-40px;}
    40%  {margin-top:-40px;}
    50%  {margin-top:-80px;}
    65%  {margin-top:-80px;}
    75%  {margin-top:-40px;}
    85%  {margin-top:-40px;}
    100% {margin-top:0;}
}
.logoHeader{
    width:50%;
    height:100%;
}
.logoHeader h1:nth-child(1){
    width: 100%;
    height: 33.3%;
    display: flex;
    align-items: end;
    margin-left: 27%;
}
.logoHeader h1:nth-child(2){
    width: 100%;
    height: 33.3%;
    display: flex;
    align-items: center;
    margin-left: 32%;
}
.logoHeader h1:nth-child(3){
    width: 100%;
    height: 33.3%;
    display: flex;
    align-items: start;
    margin-left: 46%;
}
.logoHeader h1:hover{
    transform: skewX(20deg);
    text-decoration-line: line-through;
}
.brilloH{

}
.homeJ header{
    width: 100%;
    height: 23rem;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 18%, rgba(0,0,0,1) 54%, rgba(255,0,0,0.9346332282913166) 98%);
    display: flex;
    align-items: center;
    position:relative;
}
.homeJ h1{
     color: white;
     font-family: SportFont;
     display: flex;
     font-size: 3rem;
     text-align: center;

}
.ligas{
    width:100%;
    display:flex;
    justify-content: space-around;
}
.ligas .card{
    width: 19.5%;
}
.ligas .card img{
    height:12rem;
}
.futbol h3 {
    margin-top:2rem;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SportFont';
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,97,8,1) 35%, rgba(1,203,119,1) 100%);
    color:white;
}
.btnF{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,97,8,1) 35%, rgba(1,203,119,1) 100%);
    border:none;
}
.card-Jas{
        display: flex;
        align-items: baseline;
        /* flex-wrap: wrap; */
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
}

.formula1 h3 {
    margin-top:2rem;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SportFont';
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 35%, rgba(255,119,0,1) 100%);
    color:white;
}
.btnFor{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 35%, rgba(255,119,0,1) 100%);
    border:none;
}
.formula{
    width:100%;
    display:flex;
    justify-content: space-around;
}
.formula .card{
    width:32.5%;
}
.formula .card img{
    height:17rem;
}
.formula .card img:hover{
    background-color: red;
}
.padelh h3 {
    margin-top:2rem;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SportFont';
    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,44,97,1) 35%, rgba(1,185,203,1) 100%);
    color:white;
}
.btnP{
    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,44,97,1) 35%, rgba(1,185,203,1) 100%);
    border: none;
}
.padel{
    width:100%;
    display:flex;
    justify-content: space-around;
}
.padel .card{
    width:32.5%;
}
.padel .card img{
    height:17rem;
}
.padel .card img:hover{
    background-color: red;
}
.brillo{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.174);
    height: 17rem;
    position: absolute;
    border-radius:5px;
}
.brillof{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.174);
    height: 12rem;
    position: absolute;

}
.brillo:hover{
    background-color: rgba(0, 0, 0, 0.374);
    padding: 1%;
}
.brillof:hover{
    background-color: rgba(255, 255, 255, 0.212);
    padding: 1%;
}

